body,html{
  height: 100%;
  width: 100%;
  margin:0;
}

.p-init{padding: 0px;}
.p-tb-init{padding-top: 0px;padding-bottom: 0px;}
.p-rl-init{padding-right: 0px;padding-left: 0px;}
.p-t-init{padding-top: 0px;}
.p-b-init{padding-bottom: 0px;}
.p-r-init{padding-right: 0px;}
.p-l-init{padding-left: 0px;}
.p-l-fourty{padding-left: 40px;}
.p-l-fifteen{padding-left: 15px;}
.p-l-thirty{padding-left: 30px;}
.p-r-ten{padding-right: 10px;}
.p-t-twenty{padding-top:25px;}
.p-t-fourty{padding-top:40px;}
.p-b-twenty{padding-bottom:25px;}
.p-t-twnty{padding-top: 20px;}
.p-b-fifteen{padding-bottom:15px;}
.p-t-fifteen{padding-top:15px;}
.p-t-ten{padding-top:10px;}
.p-b-six{padding-bottom:6px;}
.p-b-fifty{padding-bottom:50px;}

.m-init{margin: 0px;}
.m-tb-init{margin-top: 0px;margin-bottom: 0px;}
.m-rl-init{margin-right: 0px;margin-left: 0px;}
.m-t-init{margin-top: 0px;}
.m-b-init{margin-bottom: 0px;}
.m-r-init{margin-right: 0px;}
.m-r-ten{margin-right: 10px;}
.m-l-init{margin-left: 0px;}
.m-l{margin-left: 20px;}
.m-l-thirty{margin-left: 30px;}
.m-l-fourteen{margin-left: 14px;}
.m-l-eight{margin-left: 8px;}
.m-l-fourty{margin-left:-40px;}
.m-l-thirty{margin-left:-30px;}
.m-t-thirty{margin-top:30px;}
.m-t-twenty{margin-top:20px;}
.m-b-twenty{margin-bottom:20px;}
.m-t-minusTwenty{margin-top:-20px;}

.br-zero {border-radius: 0px;}

.clearfix{
    clear: both;
    overflow: hidden;
}

/* Head */
.head_bg {
    background-color: #252525;
}

.head_bg ul li {
    display: inline-block;
    padding-top: 10px;
    padding-right: 16px;
}

.head_bg ul li a {
    color: #fffdfe;
}

.head_bg p i{
    color: #fffdfe;
    padding-right: 10px;
    padding-top: 10px;
}

.head_bg p {
    color: #fffdfe;
}

.nav_login li{
    background-color: #fff;
}

.nav_login li a{
    color: #404040;
}

.btn-join2{
    background-color: #0f0f0f;
    color: #ededed;
}

.logo_links a{
    text-decoration: none;
    color: #101010;
}

/* Navigation */
.navbar .navbar-nav li a{
   color: #525252;
    margin-left: 3px;
}

.dropdown_hoverable ul li:hover ul.dropdown-menu{
        display: block; /* Display the dropdown */
    }
   .dropdown_hoverable ul li ul.dropdown-menu li{
        display: block;
    }

    .dropdown_hoverable ul li ul.dropdown-menu{
        min-width: 100%; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }

/* Offers */
.bott_border {
    border-bottom: 1px solid #e8e8e8;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.11);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Follow */
.btn-join {
    background-color: #0f0f0f;
    color: #ededed;
    width: 78px;
}

.follow a {
    text-decoration: none;
    color: #323232;
}

/* Store */
.store i .store span {
    vertical-align: middle;
    background-color: red;
}

.footer_links ul li{
    list-style-type: none;
    padding-bottom: 6px;
}

.footer_links ul li a {
    text-decoration: none;
    color: #616161;
}

/* Copyright */
.copyright {
    padding-bottom: 40px;
}
.copyright a{
    text-decoration: none;
    color: #616161;
}

/* Sherwanis */
.sherwanis {
    background-color: #f8f8f8;
}
.breadcrumb > li + li:before{
    content:"";
}
.breadcrumb li::after {
    content: " >>";
}
.breadcrumb li:last-child::after {
    content: "";
}
.breadcrumb {
    background: none;
    padding-top: 10px;
}
.breadcrumb li a {
    text-decoration: none;
    color: #989898;
}

.back_button a {
    text-decoration: none;
    color: #989898;
}
.back_button a::before {
    content: "<< ";
}

/* description */

.description {
    background-color:#f8f8f8;
}
.rating a{
    text-decoration: none;
    color: #353535;
}

.size_decide li a {
    margin-right: 8px;
    border-radius: 0px;
    color: #000;
}
.user-input {
    width: 50px;
    padding-left: 10px;
}

/* information */

.information {
    background-color:#f8f8f8;
    padding-top: 40px;
}

.product_info p {
    font-family: Gotham;
    font-size: 16px;
    color: #808080;
    border: 1px solid #d6d4d4;
    padding: 10px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #535353;
    border-radius: 0px;
}
.product_info li a {
    color: #333333;
}


/* Login */
.padd_bottom {
    padding-bottom: 10em;
}
.login_list_item {
    background-color: #eeeeee;
    margin: 0px 15px;
}
.login_list_item ul li {
    list-style-type: none;
    margin: 30px;
    font-size: 16px;
}

.login_list_item ul li i {
    margin-left: -58px;
    vertical-align: middle;
    margin-right: 15px;
    color: #878787;
}

.login_list_item ul li a {
    color: #232323;
}

.login_list_item ul li a:hover {
    color: #9ab00c;
    text-decoration: none;
}

.pencil_icon i, .pencil_icon a {
    vertical-align: middle;
}

.pencil_icon a {
    border:none; 
    color:black;
    text-decoration:underline;
    margin-bottom: 20px;
}

.cross_icon i {
    color:#464644;
}


/* LIKE */

.like {
    background-color: #f8f8f8;
    padding-top: 6em;
}
#myCarousel a i, #myCarousel1 a i{
    margin-top: 3.2em;
    color: #0f0f0f;
}

#myCarousel3 {
    margin: 20px 90px 0px 0px;
}
#myCarousel3 a i {
    margin-top: 2em;
    color: #0f0f0f;
}
.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev        { left: -25%; }
.carousel-control            { width:  4%; }
.carousel-control.left,.carousel-control.right {background-image:none;}

.carousel-caption {
    top: 0;
    bottom: auto;
}

/* RECENT VIEW */
.recent_view {
  background-color: #f8f8f8;
    padding: 4em 0em 2em 0em;  
}


/* shopping_cart */

.shopping_cart {
    background-color: #f8f8f8;
    padding-bottom: 4em;
}

.shopping-cart ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 26px;
    letter-spacing: 2px;
}
.shopping-cart ul li a,.shopping-cart ul li span{
    color: #ff0101;
    text-decoration: none;
}
.shopping-cart ul li:last-child a,.shopping-cart ul li:last-child span{
    color: #aaaaaa;
    text-decoration: none;
}

.shopping_cart p{
    font-family: Gotham;
    font-size: 16px;
    color: #333;
}

.password_field {
    color: #353535;
    /* border-bottom: 1px solid black; */
    padding-bottom: 14px;
}

/* shipping_info */

.shipping_info {
    background-color: #f8f8f8;
    padding-bottom: 4em;
}

.shipping_info p{
    font-family: Gotham;
    font-size: 16px;
    color: #333;
    padding-top: 30px;
}

/* cart_product */

.cart_product {
    background-color: #f8f8f8;
}

/* COUPON */

.coupon {
    background-color: #f8f8f8;
}
.coupon_link {
    color: #484848;
    text-decoration: underline;
}

.fs_sixty {
    font-size: 70px;
    font-family: "Gotham";
    font-style: italic;
}


/* EXTRAS */
/* ::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #fff; 
}

body {
  padding: 1em;
}
h5 {
  font-weight: bold;
}
#accordion {
  h3 {
    margin-top: 12px;
  }
  .tab-content {
    margin-top: 12px;
  }
  .nav-tabs a {
    font-size: 12px;
    padding: 9px!important; 
  }
}  
#accordion .panel-heading {
  padding: 0;
  a {
    display: block;
    padding: 12px;
  }
  .nav>li>a {
    padding: 10px 7px;
  }

}
td {
  padding: 0.8em;
}
table tr:first-child td {
  background: #333; 
  color: white;
}
caption {
  color: white;
  background: #5c5c5c;
  padding: 6px 12px;
    border-top: none;   
}
 */
/* Fix chopped in half elements caused by -webkit-overflow-scrolling-touch bug */
/* td {
  -webkit-transform: translate3d(0, 0, 0);
  background: white;
  border: 1px solid #ddd;
}  */

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

